services:
  reverse-proxy:
    build: reverse-proxy
    network_mode: host
    ports:
      - 80:80

  plex:
    build: plex
    restart: always
    ports:
      - 32400:32400
    volumes:
      - plex:/var/lib/plexmediaserver

  mattermost:
    build:
      context: mattermost
      args:
          # Set these in docker-compose.override.yaml
          db_user: mmuser
          db_password: mostest
    restart: always
    ports:
      - 8065:8065
    volumes:
      - mattermost:/opt/mattermost
      - mattermost-db:/var/lib/postgresql

volumes:
  plex:
  mattermost:
  mattermost-db:
